/*========= Variables =========*/
* {
    margin: 0 auto;
    font-family: Poppins, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(113deg, rgba(255,255,255,1) -30%, rgba(70,97,115,1) 150%);
}

body.dark {
    background: linear-gradient(113deg, rgba(116,116,116,1) 0%, rgba(42,42,42,1) 120%);
}


.container {
    width: 1345px;
}
