.weather {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.weather__city {
	padding: 52px 24px 0;
	display: block;
	width: 510px;
	height: 330px;
	border-radius: 30px;
	background: #d9d9d9;

	color: #292929;
	font-weight: 700;
	text-align: center;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
	&-name {
		font-size: 36px;
	}
	&-time {
		margin-top: 36px;
		font-size: 96px;
		line-height: 1;
	}
	&-date {
		margin-top: 0;
		font-size: 20px;
		font-weight: 400;
	}
}

.weather__current {
	padding: 40px 24px;
	display: flex;

	width: 780px;
	height: 330px;
	border-radius: 30px;
	background: #d9d9d9;
	color: #292929;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);

	&-first {
		display: flex;
		flex-direction: column;
	}
	&-temperature {
		font-size: 72px;
		font-weight: 700;
		line-height: 1;

		background: linear-gradient(
			80deg,
			#292929 -2.93%,
			rgba(255, 255, 255, 0) 212.44%
		);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&-feels {
		margin: 0 0 16px;
		display: flex;
		align-items: center;

		max-width: 232px;
		line-height: 1;
		font-weight: 600;
		&_text {
			font-size: 20px;
		}
		&_temperature {
			font-size: 32px;
		}
	}
	&-suntime {
		margin-top: 10px;
		display: flex;

		width: 148px;
		height: 48px;
		&_icon {
			height: 48px;
			width: 48px;
		}
		&_wrapper {
			display: flex;
			flex-direction: column;
		}
		&_subtitle {
			font-size: 20px;
			font-weight: 700;
		}
		&_time {
			font-size: 16px;
			font-weight: 600;
		}
	}

	&-second {
		width: 270px;
	}
	&-icon {
		padding: 0 34px;
		width: 270px;
		height: 202px;
		margin: 0 auto;
	}
	&-weather {
		margin-top: 2px;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		text-transform: capitalize;
		white-space: nowrap;
	}

	&-third {
		width: 238px;
		display: flex;
		flex-wrap: wrap;
	}
	&-other {
		display: flex;
		flex-direction: column;
		max-width: 110px;
		height: 132px;

		&_value {
			margin-top: 8px;
			font-size: 20px;
			font-weight: 600;
		}
		&_text {
			font-size: 16px;
			font-weight: 500;
		}
	}
}

.weather__days {
	margin-top: 35px;
	display: block;
	width: 414px;
	height: 366px;
	border-radius: 30px;
	background: #d9d9d9;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
}

.weather__hours {
	margin-top: 35px;
	display: block;
	width: 870px;
	height: 366px;
	border-radius: 30px;
	background: #d9d9d9;
	box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
}

.weather__days {
	padding: 18px 12px 12px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;

	&-item {
		display: flex;
		align-items: center;
		font-size: 24px;
	}
	&-icon {
		height: 54px;
		width: 54px;
	}
	&-temperature {
		min-width: 68px;
		text-align: right;
	}
	&-date {
		min-width: 206px;
		font-size: 20px;
		text-align: right;
	}
}

.weather__hours {
	padding: 5rem;
	font-size: 2rem;
	font-weight: bold;
}
